*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
   width:20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin:0 16px ;
    font-size: 24px;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe Alura Start</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
body {
    font-family: 'Poppins', sans-serif;
}
<section class=”estudantes”>
    <h2 class=”estudante-titulo”>Quem são nossos estudantes</h2>
</section>
<section class=”estudantes”>
    <h2 class=”estudante-titulo”>Quem são nossos estudantes</h2>
    <img class=”estudante-imagem” src=”Marcelo.jpeg” alt=”foto do marcelo”>
    <h3 class=”estudante-nome”>Marcelo</h3>
</section>
.estudante-imagem{
    width: 120px;
}
<section class="estudante">
        <h2 class="estudante-titulo">Quem são nossos estudantes?</h2>
        <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
        <h3 class="estudante-nome">Marcelo</h3>
        <img class="estudante-icone" src="github.png" alt="icone github">
        <img class="estudante-icone" src="linkedin.png" alt="icone linkedin">
        <img class="estudante-icone" src="instagram.png" alt="icone instagram">
</section>
.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}
<section class="estudante">
        <h2 class="estudante-titulo">Quem são nossos estudantes?</h2>
        <div class="estudante-div">
     <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
                 <h3 class="estudante-nome">Marcelo</h3>
                 <img class="estudante-icone" src="github.png" alt="icone github">
                 <img class="estudante-icone" src="linkedin.png" alt="icone linkedin">
                 <img class="estudante-icone" src="instagram.png" alt="icone instagram">
        </div>
</section>
.estudante-div{
    text-align: center;
    padding: 16px 0;
}
<section class="estudante">
        <h2 class="estudante-titulo">Quem são nossos estudantes?</h2>
        <div class="estudante-div">
     <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
                 <h3 class="estudante-nome">Marcelo</h3>
                 <img class="estudante-icone" src="github.png" alt="icone github">
                 <img class="estudante-icone" src="linkedin.png" alt="icone linkedin">
                 <img class="estudante-icone" src="instagram.png" alt="icone instagram">
        </div>
        <div class="estudante-div">
     <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
                 <h3 class="estudante-nome">Marcelo</h3>
                 <img class="estudante-icone" src="github.png" alt="icone github">
                 <img class="estudante-icone" src="linkedin.png" alt="icone linkedin">
                 <img class="estudante-icone" src="instagram.png" alt="icone instagram">
        </div>
</section>
<div class="estudante-todos">
<div class="estudante-div">
    <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
    <h3 class="estudante-nome">Marcelo</h3>
    <a href="https://github.com/marcelopaludetto"><img class="estudante-icone" src="github.png"
            alt="icone github"></a>
    <a href="https://linkedin.com/marcelopaludetto"><img class="estudante-icone" src="linkedin.png"
            alt="icone linkedin"></a>
    <a href="https://instagram.com/marcelopaludetto"><img class="estudante-icone" src="instagram.png"
            alt="icone instagram"></a>
</div>
<div class="estudante-div">
    <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
    <h3 class="estudante-nome">Marcelo</h3>
    <a href="https://github.com/marcelopaludetto"><img class="estudante-icone" src="github.png"
            alt="icone github"></a>
    <a href="https://linkedin.com/marcelopaludetto"><img class="estudante-icone" src="linkedin.png"
            alt="icone linkedin"></a>
    <a href="https://instagram.com/marcelopaludetto"><img class="estudante-icone" src="instagram.png"
            alt="icone instagram"></a>
</div>
</div>
.estudante-todos{
    display: grid;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
<div class="estudante-todos">
<span></span>
<div class="estudante-div">
    <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
    <h3 class="estudante-nome">Marcelo</h3>
    <a href="https://github.com/marcelopaludetto"><img class="estudante-icone" src="github.png"
            alt="icone github"></a>
    <a href="https://linkedin.com/marcelopaludetto"><img class="estudante-icone" src="linkedin.png"
            alt="icone linkedin"></a>
    <a href="https://instagram.com/marcelopaludetto"><img class="estudante-icone" src="instagram.png"
            alt="icone instagram"></a>
</div>
<div class="estudante-div">
    <img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
    <h3 class="estudante-nome">Marcelo</h3>
    <a href="https://github.com/marcelopaludetto"><img class="estudante-icone" src="github.png"
            alt="icone github"></a>
    <a href="https://linkedin.com/marcelopaludetto"><img class="estudante-icone" src="linkedin.png"
            alt="icone linkedin"></a>
    <a href="https://instagram.com/marcelopaludetto"><img class="estudante-icone" src="instagram.png"
            alt="icone instagram"></a>
</div>
<a href=""><img class="estudante-icone" src="github.png" alt="icone github"></a>
<div class="estudante-div">
<img class="estudante-imagem" src="Marcelo.jpeg" alt="foto do marcelo">
<h3 class="estudante-nome">Marcelo</h3>
 <a href="https://github.com/marcelopaludetto"><img class="estudante-icone" src="github.png"  alt="icone github"></a>
<a href="https://www.linkedin.com/in/marcelopaludetto/"><img class="estudante-icone" src="linkedin.png" alt="icone linkedin"></a>
<a href="https://instagram.com/marcelopaludetto"><img class="estudante-icone" src="instagram.png" alt="icone instagram"></a>
</div>
.estudante-titulo{
    text-align: center;
    padding: 24px 0;
}
<footer class="rodape">
<img class="rodape-imagem"src="alurastart logo.png" alt="logo da alura start">
</footer>
.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;

}
<li class="cabecalho-lista-item"><a href="#escola">Escola</a></li>
<li class="cabecalho-lista-item"><a href="#estudante">Estudante</a></li>
.cabecalho-lista-item a{
    text-decoration: none; 
    color: white;
}